@charset "EUC-KR";

#courseLeft {
	border: 1px solid black;
	padding: 15px;
	width: 20%;
	/* float: left; */
	display: inline-block;
	background-color: white;
}

.toggle-custom {
	position:absolute !important;
	top:0;
	right:0;
}

.toggle-custom[aria-expanded='true'] .glyphicon-plus:before {
  content: "\2212";
}

#courseLeft h4 {
	text-align: center;
}