@charset "EUC-KR";

#courseContentDiv {
	float: right;
	width: 79%;
	border: 1px solid black;
	padding: 15px;
	margin-bottom: 90px;
	overflow: hidden;
	word-wrap: break-word;
    background-color: white;
}

#courseContent {
	padding: 20px;
}