@charset "EUC-KR";

#formTable {
	top: -660px;
	left: 230px;
	width: 70%;
	position: relative;
	font-family: 'Jua';
	
}
#curverListUl{
	font-family: 'Baloo Tamma', cursive;
	font-size: 20px;
}

#innerList {
	top: -660px;
	left: 230px;
	width: 70%;
	position: relative;
	font-family: 'Jua';
}

#modifyAndDelete {
	float: right;
}

#writeBtn {
	float: right;
	
}

#selectModule{
	
	position: relative;
	top: -20px;
	margin-left: 15%;
	height: 25px;
	
}