@charset "EUC-KR";

body{
	background: #F7F7F7 no-repeat center center fixed;
}

#formTable {
	top: -850px;
	left: 230px;
	width: 70%;
	position: relative;
	font-family: 'Jua';
	
}
#curverListUl{
	font-family: 'Baloo Tamma', cursive;
	font-size: 20px;
}

#innerList {
	top: -850px;
	left: 230px;
	width: 70%;
	position: relative;
	font-family: 'Jua';
}

#modifyAndDelete {
	float: right;
}

#writeBtn {
	float: right;
	
}

#selectModule{
	
	position: relative;
	top: -20px;
	margin-left: 15%;
	height: 25px;
	
}

.toggle-custom {
	position:absolute !important;
	top:0;
	left: 11%;
}

.toggle-custom[aria-expanded='true'] .glyphicon-plus:before {
  content: "\2212";
}