@charset "EUC-KR";

#mAcdiv{
	margin-left: 10%;
	margin-top: 5%;
    width: 82%;
}
		
#mAcUl{
	font-size: 30px;
	font-family: 'Baloo Tamma', cursive;
}
	
#MorCList{
	float: left;
	border: 1px solid lightgray;
	width: 200px;
	height: 657px;
	font-family: 'Jua';
}
		
#ListUl{
	list-style: none;
}
		 
#Curver{
	display: inline;
}