@charset "EUC-KR";

body{
	background: #F7F7F7 no-repeat center center fixed;
}

#mAcdiv{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
    width: 82%;
    height: 900px;
    overflow: hidden;
}
		
#mAcUl{
	font-size: 30px;
	font-family: 'Baloo Tamma', cursive;
}
	
#MorCList{
	float: left;
	border: 1px solid lightgray;
	border-radius: 1%;
	width: 200px;
	height: 700px;
	font-family: 'Jua';
	overflow: scroll;
	overflow-x:hidden;  
}
::-webkit-scrollbar{
	width: 0px;
	background: transparent;
}

#writeImg{
	margin-left: 5px;
	margin-top: -8px;
	width: 20px;
}

		 
#Curver{
	display: inline;
}